@import "tailwindcss";

@theme {
    /* Definindo as cores da Nutri Hellen direto no CSS */
    --color-brand-light: #FDF6E3;
    --color-brand-primary: #C05621;
    --color-brand-secondary: #5F6F3A;
    --color-brand-dark: #2D3748;

    /* Definindo a fonte padrão */
    --font-sans: 'Figtree', sans-serif;
}